.checker-btn {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 15px;

  border-radius: 50%;

  transition: .1s;
  background-color: $dots-color;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}

.spell-list .list-group-item:hover {
    background-color: $hover-color;
    transition: all ease-out .3s;
}

.spell-list .list-group-item.active {
  background-color: $hover-color;
  border: none;
}