@keyframes ldio-o4kqe51wimf {
  0% {
    transform: translateZ(0) scale(1.5,1.5);
    backface-visibility: hidden;
    opacity: 1;
  } 100% {
    transform: translateZ(0) scale(1,1);
    backface-visibility: hidden;
    opacity: 0;
  }
}
.ldio-o4kqe51wimf div > div {
  position: absolute;

  width: 13.919999999999998px;
  height: 13.919999999999998px;

  background: #267066;
  border-radius: 50%;

  animation: ldio-o4kqe51wimf 1s linear infinite;
}.ldio-o4kqe51wimf div:nth-child(1) > div {
  top: 50.99999999999999px;
  left: 86px;

  animation-delay: -.875s;
}
.ldio-o4kqe51wimf > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 92.96px 57.959999999999994px;
}.ldio-o4kqe51wimf div:nth-child(2) > div {
  top: 76px;
  left: 76px;

  animation-delay: -.75s;
}
.ldio-o4kqe51wimf > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 82.96px 82.96px;
}.ldio-o4kqe51wimf div:nth-child(3) > div {
  top: 86px;
  left: 50.99999999999999px;

  animation-delay: -.625s;
}
.ldio-o4kqe51wimf > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 57.959999999999994px 92.96px;
}.ldio-o4kqe51wimf div:nth-child(4) > div {
  top: 76px;
  left: 25.999999999999993px;

  animation-delay: -.5s;
}
.ldio-o4kqe51wimf > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 32.959999999999994px 82.96px;
}.ldio-o4kqe51wimf div:nth-child(5) > div {
  top: 50.99999999999999px;
  left: 15.999999999999993px;

  animation-delay: -.375s;
}
.ldio-o4kqe51wimf > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 22.959999999999994px 57.959999999999994px;
}.ldio-o4kqe51wimf div:nth-child(6) > div {
  top: 25.999999999999993px;
  left: 25.999999999999993px;

  animation-delay: -.25s;
}
.ldio-o4kqe51wimf > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 32.959999999999994px 32.959999999999994px;
}.ldio-o4kqe51wimf div:nth-child(7) > div {
  top: 15.999999999999993px;
  left: 50.99999999999999px;

  animation-delay: -.125s;
}
.ldio-o4kqe51wimf > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 57.959999999999994px 22.959999999999994px;
}.ldio-o4kqe51wimf div:nth-child(8) > div {
  top: 25.999999999999993px;
  left: 76px;

  animation-delay: 0s;
}
.ldio-o4kqe51wimf > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 82.96px 32.959999999999994px;
}
.loadingio-spinner-spin-xuf19qrpjz8 {
  position: absolute;
  top: 50%;
  left: 50%;

  display: inline-block;
  width: 116px;
  height: 116px;
  margin-top: -50px;
  margin-left: -50px;
  overflow: hidden;

  background: none;
  z-index: 99;
}
.ldio-o4kqe51wimf {
  position: relative;

  width: 100%;
  height: 100%;

  transform: translateZ(0) scale(1);
  transform-origin: 0 0;
  backface-visibility: hidden;
}
.ldio-o4kqe51wimf div {
  box-sizing: content-box;
}
