.next-level-btn {
  width: 100%;
  margin: 25px 15px;

  font-family: DreamWood;
  color: #ffffff!important;

  background-color: #303030;
  border: 1px solid #444444;
  cursor: url('../assets/images/cursor.png'), auto !important;

  transition: .3s;

  &:hover {
    background-color: $hover-color;
  }
}

.activated {
  background-color: $hover-color;
}
