$questionListColor: #11433c;
$main-color: #267066;
$hover-color: #267066;
$text-color: #ffff;
$dots-color: #444;
$border-color: #444;
$active-color: #327162;
$shadow-color: rgba(0, 0, 0, .32);
$correct-answer-color: rgb(8, 175, 58);
$wrong-answer-color: rgb(175, 19, 8);
$welcome-title-bg-color: #07222bb3;
$final-page-bg-color: #c9692d7a;
$language-btn-color: #062128;