.professor-box {
  position: absolute;
  left: 251px;
  left: calc(100% - 250px);

  width: 140px;
  height: 100%;

  animation: professor 1s ease-out forwards;

  @include media-laptop-small {
    left: calc(100% - 225px);
  }
  @include media-mobile {
    left: calc(100% - 145px);
  }
}

.professor-image {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

@keyframes professor {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.card-text {
  position: relative;

  display: flex;
  height: 100%;

  @include media-tablet-big {
    height: 300px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.speech-bubble {
  position: relative;

  width: 50%;
  height: 230px;
  padding: 0;
  padding: 10px;

  font-weight: 300;
  font-size: 16px;

  background: $main-color;
  border-radius: .4em;
  transform: scale(0);

  animation: bubble 1s ease-out 1s forwards;

  @include media-laptop-small {
    font-size: 14px;
  }
  @include media-mobile {
    width: 55%;
    height: 80%;
    padding: 5px;

    font-size: 12px;
  }
}

.bubble-text {
  font-size: 1em;
}

@keyframes bubble {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.speech-bubble:after {
  content: "";
  position: absolute;
  top: 20%;
  right: 0;

  width: 0;
  height: 0;
  margin-top: -13px;
  margin-right: -25px;

  border: 25px solid transparent;
  border-right: 0;
  border-bottom: 0;
  border-left-color: $main-color;

  animation: bubble-after 1s ease-out 1s forwards;
}

@keyframes bubble-after {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
