.professor-image {
  position: absolute;
  left: 251px;

  animation: professor 1s ease-out forwards, professorMedia 1s ease-out forwards;

  @include media-laptop {
    left: 235px;
  }
  @include media-laptop-small {
    left: 190px;
  }
  @include media-tablet-big {
    left: 220px;
  }
  @include media-tablet {
    left: 240px;
  }
  @media (max-width:562px) {
    left: 140px;
    @keyframes professorMedia {
      0% {
        width: 0;
        height: 0;
      }
      100% {
        width: 55%;
        height: 60%;
      }
    }
  }
}

@keyframes professor {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 55%;
    height: 100%;
  }
}

.card-text {
  position: relative;

  display: flex;
  height: 100%;

  @include media-tablet-big {
    height: 300px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.speech-bubble {
  position: relative;

  font-size: 0;

  border-radius: .4em;

  animation: bubble 1s ease-out 1s forwards, bubbleMedia 1s ease-out 1s forwards, bubbleMediaMobile 1s ease-out 1s forwards ;
  @media (max-width:992px) {
    @keyframes bubbleMedia {
      0% {
        width: 0;
        height: 0;
        padding: 0;

        font-size: 0;
      }
      100% {
        width: 50%;
        height: 230px;
        padding: 5px;

        font-size: 1rem;

        background: $main-color;
      }
    }
  }
  @media (max-width:562px) {
    @keyframes bubbleMediaMobile {
      0% {
        width: 0;
        height: 0;
        padding: 0;

        font-size: 0;
      }
      100% {
        width: 50%;
        height: 230px;
        padding: 2px;

        font-size: .8rem;

        background: $main-color;
      }
    }
  }
}

@keyframes bubble {
  0% {
    width: 0;
    height: 0;
    padding: 0;

    font-size: 0;
  }
  100% {
    width: 60%;
    height: 200px;
    padding: 15px;

    font-size: 1rem;

    background: $main-color;
  }
}

.speech-bubble:after {
  content: "";
  position: absolute;
  top: 20%;
  right: 0;

  width: 0;
  height: 0;
  margin-top: -13px;
  margin-right: -25px;

  border: 25px solid transparent;
  border-right: 0;
  border-bottom: 0;

  animation: bubble-after 1s ease-out 1s forwards;
}

@keyframes bubble-after {
  0% {
  }
  100% {
    border-left-color: $main-color;
  }
}
