.question-field {
  margin-bottom: 25px;
  padding: 1rem;
  user-select: none;
}

.question-field .poster {
  width: 200px;
  height: 155px;
  margin: 0;

  border-radius: 10px;
}

.question-field .list-group-flush {
  margin-left: 40px;
}

.question-box {
  width: 90%;
}

.question-box .list-group-item:first-child {
  width: 95%;
}
.question-box .list-group-item:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
