.question-field {
  margin-bottom: 25px;
  padding: 1rem;
}

.question-field .bird-image {
  width: 200px;
  height: 155px;
  margin: 0;

  border-radius: 10px;
}

.question-field .list-group-flush {
  margin-left: 40px;
}
