.spell-info {
  width: 100%;
  height: 333px;
  padding: 1rem;

  border: 1px solid $border-color;
}

.spell-info .poster {
  width: 200px;
  height: 155px;
  margin: 0;

  border-radius: 10px;
}

.card-body {
  padding: 0;
  max-height: 160px;
}

.spell-description {
  font-weight: 300;
  margin-top: 10px;
  max-height: 130px;
  overflow: auto;
}
