.spell-features {
  width: 100%;
  margin-left: 15px;
}

.spell-features .list-group-item {
  padding: .3rem;
}
.spell-features .list-group-item h5 {
  font-size: 1rem;
}

.spell-features .player-controls {
  margin-top: 10px;
}

.spell-features .play-button {
  width: 30px;
  height: 25px;
}

.spell-features .player-timeline {
  margin-left: 10px;
}

.spell-features .timeline-info {
  width: 73%;
  margin-left: 40px;

  font-size: .5rem;
}

.spell-features .player-volume {
  width: 30px;
  height: 25px;
}
