.bird-features {
  width: 100%;
  margin-left: 15px;
}

.bird-features .list-group-item {
  padding: .3rem;
}

.bird-features .player-controls {
  margin-top: 10px;
}

.bird-features .play-button {
  width: 30px;
  height: 25px;
}

.bird-features .player-timeline {
  margin-left: 10px;
}

.bird-features .timeline-info {
  width: 60%;
  margin-left: 40px;

  font-size: .5rem;
}

.bird-features .player-volume {
  width: 30px;
  height: 25px;
}
