.final-page {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 10px 0;

  background: url(../assets/images/final.jpg) no-repeat;
  background-size: cover;
}

.final-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 20px;

  background: #ffc9af45;
  border-radius: 20px;
}

.final-container .volume-box {
  @include media-tablet {
    width: 25px;
  }
}

.final-title {
  font-size: 1.5rem;
  font-family: "Uni Bold";
  text-align: center;

  opacity: 0;

  animation: opacityFrame 1s ease-out 1s forwards;

  @include media-mobile {
    font-size: 1rem;
  }
  @include media-tablet {
    font-size: 1.2rem;
  }
}

@keyframes opacityFrame {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.final-score {
  padding: 10px;

  font-size: 1.5rem;
  font-family: "Uni Bold";

  border-radius: 20px;
  opacity: 0;

  animation: opacityFrame 2s ease-out 2s forwards;

  @include media-mobile {
    font-size: 1rem;
  }

  @include media-tablet {
    font-size: 1.2rem;
  }
}

.final-gif {
  opacity: 0;

  animation: opacityFrame 1s ease-out 1s forwards;

  @include media-mobile {
    width: 90%;
  }
  @include media-tablet {
    width: 70%;
  }
}

.play-again {
  width: 20%;
  margin-top: 20px;

  background-color: $questionListColor;
  outline: none;
  opacity: 0;

  transition: all ease-out .3s;
  animation: opacityFrame 1s ease-out 2s forwards, startAgain 2s ease-out infinite alternate 3s forwards;

  @include media-mobile {
    width: 60%;
  }
  @include media-tablet {
    width: 70%;
  }
  &:hover {
    background-color: $main-color;
    border: 1px solid $text-color;
    transform: scale(1.1);
  }
}

@keyframes startAgain {
  0% {
    background: $questionListColor;
    transform: none;;
  }
  50% {
    background: $hover-color;
  }
  100% {
    background: $questionListColor;
    transform: scale(1.2);;
  }
}
