@import '../../components/fonts/fonts.scss';

.logo {
  width: 200px;
  height: 55px;

  font-family: DreamWood;
}

.header {
  flex-direction: column;
  margin-top: 1.2rem;
}

.header-top {
  justify-content: space-between;
  align-items: center;
}

.score-box {
  font-size: 1.5rem;
}

.score {
  margin-left: .5rem;
}
