@font-face {
    font-family: 'DreamWood';
    src: url(../assets/fonts/DreamwoodDemoRegular-Zj3q.ttf);
}

@font-face {
    font-family: 'Uni Bold';
    src: url(../assets/fonts/UniSansHeavy.otf);
}
@font-face {
    font-family: 'Uni Thin';
    src: url(../assets/fonts/UniSansThin.otf);
}